<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="/fragments/header :: header">
</head>
<body>
<nav th:insert="/fragments/navbar :: navbar"></nav>
<div class="wrapper d-flex">
    <div th:insert="/fragments/sideMenu :: sideMenu">
        <div class="content">
            <main>
                <div class="row">
                    <div class="col-md-6">
                        <div class="bg-mattBlackLight my-2 p-3">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                            in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                            sunt earum tempora veniam.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="bg-mattBlackLight my-2 p-3">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Ratione libero totam rerum eos nam ab perspiciatis voluptatum
                            in. Quidem natus autem quae. Velit accusamus sit, perspiciatis
                            sunt earum tempora veniam.
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
<div th:insert="/fragments/bootstrap_body_scripts :: bootstrap_scripts"></div>
</body>
</html>
